body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.main {
    padding: 20px;
}

.anime-list {
    max-width: 600px;
    margin: 20px auto;
}

.anime-list h2 {
    margin-bottom: 10px;
}

.anime-list ul {
    list-style-type: none;
    padding: 0;
}

.anime-list li {
    margin-bottom: 10px;
}

.anime-list li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.anime-list li a:hover {
    background-color: #f0f0f0;
}
